:root {
  --primary: #eb1ccc;
  --secondary: #95989a;
  --text-primary: #fff;
  --text-secondary: #000;
  --text-tertiary: #5d5d5d;
}

* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Event form */
#event-description {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../images/hrz-5.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--text-primary);
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
}


#disclaimer h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

#disclaimer .about-event {
  font-size: 2em;
  text-transform: uppercase;
  max-width: 350px;
  font-weight: bold;
  margin-bottom: 1em;
}

#disclaimer {
  padding: 2em;
}

#disclaimer p {
  font-size: 1.2em;
  margin-bottom: .3em;
}

#disclaimer .event-date {
  font-weight: bold;
}


#subscription-form {
  background-color: var(--secondary);
  padding: 2em;
  max-width: 70%;
  margin-bottom: 2em;
}

#subscription-form p {
  font-size: 1.5em;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.form-group label {
  color: var(--text-tertiary);
  margin-bottom: .3em;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 6px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn {
  background-color: var(--primary);
  color: var(--text-primary);
  text-transform: uppercase;
  width: 100%;
  border: none;
  padding: 12px;
  cursor: pointer;
}

/* Benefits section */
#key-benefits h2 {
  background-color: var(--secondary);
  text-align: center;
  padding: 2em 0.5em;
  font-weight: 500;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  width: auto;
}

.benefit {
  text-align: center;
  color: var(--text-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin-bottom: 2em;
}

.benefit .benefit-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

#benefit-1 {
  background-image: url("../images/sqr-1.jpg");
}

#benefit-2 {
  background-image: url("../images/sqr-2.jpg");
}

#benefit-3 {
  background-image: url("../images/sqr-3.jpg");
}


/* Event Location */
#location {
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../images/hrz-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: var(--text-primary);
  margin-bottom: 4em;
  text-align: center;
  padding: 2em 0;
}

#address,
#about-location {
  max-width: 30%;
}

#address {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  order: 2;
}

#address i {
  color: var(--primary);
  font-size: 4em;
  margin: 0.3em 0;
}

#address-details {
  text-align: center;
  font-size: 1.3em;
}

#about-location {
  order: 1;
  max-width: 100%;
}

#about-location h3 {
  color: var(--primary);
  font-size: 2.5em;
  align-items: center;
  text-transform: uppercase;
}

#about-location p {
  display: none;
}


/* Event details container */
#details {
  width: 80%;
  margin: 0 auto;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0.5em;
  text-align: center;
}

.detail img {
  width: 100%;
  margin: 2em 0;
}

.detail h3 {
  margin-bottom: 1em;
  font-size: 2em;
  font-weight: 500;
}

#detail-1 img {
  display: none;
}

#detail-1 h3 {
  font-size: 3em;
  font-weight: 700;
}

#detail-3 img {
  order: 2;
}

#detail-3 .detail-description {
  order: 1;
}

.detail-description ul {
  list-style-position: inside;
}

.detail-description ul li {
  margin-bottom: 0.4em;
}

.detail-description ul li:last-child {
  font-weight: bold;
}

/* Call to Action Section */
#cta {
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url("../images/hrz-1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-primary);
  text-align: center;
}

#cta h3 {
  margin-bottom: 1.2em;
  font-size: 2em;
  font-weight: 500;
}

#cta .btn {
  width: 80%;
  margin: 0 auto;
  font-weight: 600;
  font-size: 1.2em;
}

#footer {
  color: var(--secondary);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer h3 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
}

#footer p:nth-child(2) {
  margin-bottom: 1em;
  font-size: 1.2em;
}

#footer span {
  font-weight: bold;
}



/* Medias Queries */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {

  /* Benefits section */
  .benefit {
    flex-direction: row;
    gap: 5%;
  }

  .benefit p {
    width: 50%;
  }

  .benefit #benefit-2 {
    order: 2;
  }

  /* Call to Action Section */
  #cta .btn {
    width: 60%;
  }
}

/* Desktop - Notebook */
@media screen and (min-width: 993px) and (max-width: 1200px) {

  /* Event form */
  #event-description {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  #disclaimer h2 {
    margin-bottom: 0.5em;
  }

  #disclaimer {
    padding: 0;
  }

  #subscription-form {
    padding: 2em;
    max-width: 30%;
  }

  /* Benefits section */
  .benefits {
    flex-direction: row;
    padding: 2em;
    width: 100%;
    margin: 0 auto;
  }

  .benefit {
    text-align: center;
    color: var(--text-tertiary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    max-width: 20%;
  }

  /* Event Location */
  #location {
    height: 400px;
    display: flex;
    flex-direction: row;
  }

  #address,
  #about-location {
    max-width: 40%;
  }

  #address i {
    margin: 0;
    margin-bottom: 0.2em;
  }

  #about-location h3 {
    margin-bottom: 0.5em;
  }

  #about-location p {
    display: block;
    line-height: 1.5em;
  }

  /* Call to Action Section */
  #cta .btn {
    width: 50%;
    opacity: 0.8;
  }

  #cta .btn:hover {
    opacity: 1;
  }
}


/* Grandes telas */
@media screen and (min-width: 1201px) {

  /* Event form */
  #event-description {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  #disclaimer h2 {
    margin-bottom: 0.5em;
  }

  #disclaimer {
    padding: 0;
  }

  #subscription-form {
    padding: 2em;
    max-width: 22%;
  }

  /* Benefits section */
  .benefits {
    flex-direction: row;
    padding: 2em;
    width: 80%;
    margin: 0 auto;
  }

  .benefit {
    text-align: center;
    color: var(--text-tertiary);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    max-width: 20%;
  }

  /* Event Location */
  #location {
    height: 400px;
    display: flex;
    flex-direction: row;
  }

  #address,
  #about-location {
    max-width: 30%;
  }

  #address i {
    margin: 0;
    margin-bottom: 0.2em;
  }

  #about-location h3 {
    margin-bottom: 0.5em;
  }

  #about-location p {
    display: block;
    line-height: 1.5em;
  }

  /* Event details container */
  .detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
    text-align: left;
    margin-bottom: 4em;
  }

  .detail img {
    width: 50%;
    margin: 0;
  }

  .detail h3 {
    margin-bottom: 1em;
  }

  .detail-description {
    width: 100%;
    padding-left: 2em;
  }

  #detail-1 img {
    display: block;
  }

  #detail-3 img {
    order: 1;
  }

  #detail-3 .detail-description {
    order: 2;
  }

  /* Call to Action Section */
  #cta .btn {
    width: 40%;
    opacity: 0.8;
  }

  #cta .btn:hover {
    opacity: 1;
  }
}